*,*::after,*::before{
	margin:0;
	padding:0;
	outline: 0;	
	box-sizing: border-box;
}

@font-face{
	src: url('../fonts/appleberry.ttf');
	font-family: Appleberry;
}

html{font-size: 62.5%;overflow-x: hidden;}

.dn{display: none !important;}

.container{
	width: 100%;
	display: flex;
	font-family: Asap;
}

/*---MODAL DE CONFIRMAÇÃO---*/
.modal-success{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: abrirModal 0.87s;
}

.modal{
	background-color: #117ee3;
	width: 40%;
	max-width: 600px;
	height: 50%;
	max-height: 300px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0, .5);
}

@keyframes abrirModal{
	from{
		opacity: 0;
		height: 0;
		font-size: 0;
	}
	to{
		opacity: 1; 
		height: 100vh;
	}
}

@keyframes fecharModal{
	from{
		opacity: 1;
		height: 100vh;
	}
	to{
		opacity: 0;
		height: 0;
	}
}

.modal-close{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.modal-close span{
	font-size: 1.7rem;
	font-family: Asap;
	font-weight: 700;
	color: #FFF;
	padding: 5px 10px;
	border: 2px solid #FFF;
	border-radius: 5px;
	cursor: pointer;
}

.modal-close span:hover{
	background-color: red;
	color: #000;
	border: 2px solid red;
	transition-duration: 0.3s;
}

.modal-close span:active .modal{
	background-color: black;
}

.modal-text{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Asap;
}

.modal-text h2{
	font-size: 5rem;
	color: #FF7924;
	margin-bottom: 15px;
}

.modal-text p{
	font-size: 1.4rem;
	color: #fff;
}

/*---TOPO---*/
.topo{
	background: #fff;
	position: fixed;
	z-index: 100;
}

.logo {   
	width: 30%;
    max-width: 120px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.frase-topo{    
	position: absolute;
    width: 100%;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.frase-topo span{color: #FF7924;}

.frase-topo h2{
	font-family: Appleberry;
	font-weight: 100;
}

.frase-topo i{margin-left: 10px;}

/*---Conteúdo Principal---*/
/*---DESTAQUE DAS FRASES---*/
span.destaque{
    color:#fff;
    font-weight: bold;
}

/*---CONTAINER PRINCIPAL---*/
.background{
	height: 100vh;
  	background-image: url('../images/FUNDO.jpg');
	background-position: center;  
	background-size: cover;
    background-attachment: fixed;
}

.main{
	height: 100%;
    background-color: rgba(64,64,64,.4);
    flex-wrap: wrap;
    align-items: center;
    padding-top: 85px;
}

/*---CONTEUDO DA ESQUERDA---*/
.main-left{    
	flex: 1 0 390px;  
	height: 100%;  
	display: flex;
	flex-wrap: wrap;    
	align-content: center; 
    justify-content: center;
	color: #fff;
}

.main-left-container{width: 80%}

.main-left-title{
    width: 100%;
    max-width: 500px;
    padding-bottom: 20px;
}

.main-left-title h1{
	font-weight: 100;
    font-size: 2.7rem;
    text-align: justify;
    line-height: 3rem;
    text-shadow: 0 5px 5px #000;
    letter-spacing: .2rem;
}

.main-left-text{     
	width: 100%;
    max-width: 330px;
}

.main-left-text h2{
    font-family: 'Roboto Condensed';
	font-weight: 100;
	font-size: 2.7rem;
	text-align: justify;
	letter-spacing: .3rem;
	line-height: 3rem;
}

.main-left-promocao img{
    margin-left: -25px;
    margin-top: 40px;
    width: 100%;
	max-width: 400px;
}

/*---CONTEUDO DA DIREITA---*/
.main-right{    
	flex: 1 0 300px;
    display: flex;
    justify-content: center;
}

.formulario{    
	width: 80%;
	max-width: 400px;
	min-width: 300px;
	background-color: #ff7924;
    display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-bottom: 10px solid #db5a13;
    font-family: Asap;
   	box-shadow: 0 0 15px rgba(0,0,0,0.8);
}

.formulario img{  
	margin-top: -40px;
	max-width: 250px;
}

.formulario h4{  
	text-align: center;
	text-transform: uppercase;
	font-size: 1.8rem;
}

.formulario p{
	margin-top: 10px;
	font-size: 1.4rem;
	font-weight: 600;
	color: #3c13db;
}

.formulario input{
	width: 100%;
	font-size: 1.5rem;
    padding: 15px;
    margin: 10px 0;
    border: none;
    color: #3a3535;
    border-bottom: 4px solid #d1d1d1;
    border-radius: 3px;
}

.formulario input:focus {
   	outline: 0;
	border-bottom: 4px solid #2196F3;
    transition-duration: 0.3s;
}

.input-whatsapp{
	margin: 10px 0;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #d1d1d1;
    border-radius: 3px;
}

.input-whatsapp i{
	font-size: 2.8rem;
    color: green;
    padding: 10px;
}

.formulario input[name="numero"]{
 	appearance: textfield;   
	margin: 0;
    width: 100%;
    border: none;
    padding: 0;
    padding-right: 15px;
}

.input-whatsapp:focus-within{
	border-bottom: 4px solid #2196F3;
	transition-duration: 0.3s;
}

.formulario input[type="submit"]{
	width: 80%;
	height: 50px;
	background-color: #117ee3;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	border-radius: 5px;
	border: none;
	border-bottom: 5px solid #0c62b3;
	cursor: pointer;
}

.formulario input[type="submit"]:hover {
	box-shadow: 0 0 10px rgba(0,0,0, 0.5);
	border-bottom: 4px solid #FFC107;
	transition-duration: 0.2s;
}

/*---RESPONSIVIDADE---*/
@media screen and (max-width: 880px) {
    html{font-size: 58%;}
	.modal{width: 75%;}
	.main-left{flex: 1 0 300px;}
	.main-left-promocao img{margin-left: 0;}
	.main-right{flex: 1 0 400px;}
}

@media screen and (max-width: 700px) {
	.background{height: auto;}
	
	.modal{width: 95%; height: 35%; max-height: none; max-width: none;}
	.modal-text h2{font-size: 4rem;}
	.modal-text p{font-size: 1.3rem;}
	
	.topo{padding: 0 15px;}
	.topo .frase-topo{position: initial; font-size: 1.7rem;}
	.logo{width: 130px; height: 90px; margin: 0;}
	
	.main{padding: 0; padding-top: 110px;}
	.main-left{flex: none; width: 100%;}
	.main-left-container{width: 85%;}
	.main-left-promocao{width: 100%; text-align: center;}
	.main-left-promocao img{margin-top: 15px; max-width: 350px;}
	.main-right{margin: 50px 0; flex: none; width: 100%;}
	.formulario{width: 90%;}
}